.admin-register-form input:-webkit-autofill,
.admin-register-form input:-webkit-autofill:hover, 
.admin-register-form input:-webkit-autofill:focus, 
.admin-register-form input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--black) inset !important;
    -webkit-text-fill-color: white !important;
}

.admin-register{
    z-index: 1;
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 420px;
    padding: 50px;
    border-radius: 10px;
    background-color: var(--black);
}

.admin-register-form{
    
    width: 100%;
   
}
.text-field{
    margin: 0 auto !important;
    width: 100%;
    color: white;

}

.form-title{
    width: 100%;

    color: white;
    font-size: 20px;
}

.my-btn-submit{
    width: 100%;
}
.already-have-account{
    cursor: pointer;
}
@media only screen and (max-width: 650px) {
    .admin-register{
        width: 350px;
    }
}