.forgetpassword-form input:-webkit-autofill,
.forgetpassword-form input:-webkit-autofill:hover, 
.forgetpassword-form input:-webkit-autofill:focus, 
.forgetpassword-form input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
}

.forget-password-email, .forget-password-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forget-password-submit-btn{
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--black);
    border: none;
}

.forget-password-submit-btn:disabled{
    opacity: 0.4;
    cursor:no-drop;
}

.forget-password-submit-btn:hover{
    background-color: #262626;
}