.job{
    margin-right: 10px;
}

.form{
    
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgb(37, 41, 41, 0.5);
}

.job-form{
  
    padding: 25px;
   
}

.data-input{
    width: 100%;
    margin-bottom: 20px !important;
}

.job-btn{
    width: 100%;
}

.job-table{
    margin: 0 auto;
    text-align: center;
}

.create, .update{
    font-size: 11px;
}

.description{
    display: block;
    background-color: #d7d9db;
    padding: 10px;
    font-size: 11px;
    margin: 0 auto;
    width: 380px;
    word-wrap: break-word;
    
}

.isActive{
    color: grey;
}

.search{
    margin-left: 10px;
    display: inline-block;
    width: 200px !important;
}

.head-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selected-all-alert{
    position: fixed;
    margin-top: 50px;
    left: 0px;
    top:0px;
    right: 0px;
    background-color: #d90d36;
    padding: 3px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.selected-row{
    color: white;  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 20px;
}

.selected-row{
    margin-top: -5px;
}