:root{
    --black: #0b0c10;
    --brown: #b1a296;
    --blue: #66fcf1;
}

.sidebar, .sidebar-mini{
    
    position: fixed;
    
    top: 50px;
    left: 0px;
    right: 0px;
    width: 250px;
    height: 100%;
    overflow: auto;
    background-color: var(--black);
    padding: 10px 15px;
   
}

.sidebar-container{
    z-index: 3;
    height: 100%;
    
}

.my-section-title{
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}

.my-section-item{
    color: white;
    font-size: 12px;
    margin-left: 10px;
    
}

.my-item{

    margin-bottom: 20px;
}

.my-navlink{
    text-decoration: none;
    color: white;
}
.my-navlink:hover{
    color: gray;
}

.body-content{
    margin-left: 260px;
}

.active{
    font-Size: 18px;
    color: navajowhite;
}
.close-trigger{
    width: 100%;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (max-width: 1366px) {
    
    .sidebar{
        display: none;
    }

    .sidebar-mini-parent{
        position: fixed;
        background-color: rgb(81, 81, 82, 0.6);
        top: 50px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    .sidebar-mini{
        display: block;
    }
    .body-content{
        margin-left: 0px;
    }
}